@use "../common/mixins" as *;
@use "../common/variables" as *;
@use "../common/colors" as c;

.request-form {
  margin-bottom: 32px;

  font-size: 16px;
  color: c.$black-lightest;
  text-transform: uppercase;

  input[type="text"],
  textarea {
    line-height: 18px;
    color: c.$black-lightest;
    text-transform: uppercase;
  }

  legend {
    font-size: 24px;
    line-height: 26px;
    text-transform: none;
    color: c.$black;
  }
}

.request-form__fieldset {
  @include reset-fieldset;
}

.request-form_main-data-and-goal {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    padding-bottom: 69px;
  }
}

.request-form__main-data {
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
}

.request-form__goal {
  margin-bottom: 26px;
  padding-top: 22px;
  padding-bottom: 20px;

  color: c.$black-light;

  $v-border: 1px solid c.$grey-light;
  border-top: $v-border;
  border-bottom: $v-border;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.request-form__goal-wrapper {
  @media (min-width: $tablet-width) {
    border: 1px solid c.$grey-light;
  }
}

.request-form__owner {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;

  legend {
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.request-form__comment {
  margin-bottom: 23px;

  legend {
    padding-bottom: 37px;
  }
}

.request-form__additional-products {
  margin-bottom: 34px;

  color: c.$black;

  legend {
    padding-bottom: 34px;
  }
}

.request-form__additional-products-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 123px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 104px;
  }
}

.request-form__button-and-legend {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.request-form__legend {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: c.$black;
}
