$green: #68b738;

$black: #000000;
$black-lighter: #111111;
$black-light: #222222;
$black-lightest: #444444;

$grey-dark: #666666;
$grey-darker: #cdcdcd;
$grey: #d3d3d3;
$grey-light: #d9d9d9;
$grey-lightest: #e6e6e6;

$white-darkest: #eaeaea;
$white-dark: #ebebeb;
$white-darker: #f2f2f2;
$white: #ffffff;
