@use "variables" as *;
@use "colors" as c;

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  width: 320px; // чтоб поприятнее смотрелось, потом уберу
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;

  padding: 7px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: c.$white;

  background-color: c.$green;
  border: none;
  cursor: pointer;
}
