@use "variables" as *;
@use "colors" as c;
@use "mixins" as *;

.main-nav {
  position: relative;
}

.main-nav__list {
  @include reset-list;

  width: $mobile-width;
  margin-right: -20px;
  position: absolute;
  top: 65px;
  right: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.main-nav__item {
  padding: 22px 20px 24px;
  display: flex;
  justify-content: center;

  background-color: c.$white;

  $border: 1px solid c.$grey-lightest;
  border-top: $border;

  &:last-child {
    border-bottom: $border;
  }

  @media (min-width: $tablet-width) {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  display: block;
  width: max-content;

  font-size: 20px;
  line-height: 20px;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  color: c.$black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    $v-padding: 8px;
    padding-top: $v-padding;
    padding-bottom: $v-padding;

    &--current {
      padding-bottom: 6px;
      border-bottom: 2px solid c.$green;
    }
  }
}

.main-nav__toggle {
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 0;
  width: 25px;
  height: 1.5px;
  background-color: c.$black;
  box-shadow: 0 8px 0 0 c.$black, 0 16px 0 0 c.$black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 0;
    width: 25px;
    height: 1.5px;
    background-color: c.$black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
    margin-right: 0;
    margin-left: -20px;
  }

  .main-nav--nojs .main-nav__item {
    display: flex;
  }
}
