@use "variables" as *;

.page-header {
  padding-bottom: 17px;

  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  width: 191px;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}
