@use "../common/colors" as c;
@use "../common/mixins" as *;
@use "../common/variables" as *;

.headline {
  margin-bottom: 22px;

  text-align: center;
  color: c.$white;

  background:
    linear-gradient(to right, rgba(c.$green, 0.85), rgba(c.$green, 0.85)) top/auto 302px no-repeat,
    url("../../img/headline-bg-mobile.png") top center no-repeat;
}

.headline__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    height: 872px;
  }

  @media (min-width: $desktop-width) {
    height: 585px;
  }
}

.headline__main-header {
  margin-bottom: 25px;
}

.headline__slogan {
  @include reset-spacing;
  margin-bottom: 29px;

  line-height: 14px;
  text-transform: uppercase;
}

.headline__image {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: auto;
    right: 220px;
  }
}

.headline__choose-program {
  font-size: 14px;
  line-height: 18px;
}
