@use "../common/mixins" as *;
@use "../common/variables" as *;
@use "../common/colors" as c;

.how-it-works {
  margin-bottom: 42px;
}

.how-it-works__header {
  @include reset-spacing;
  margin-bottom: 38px;

  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.how-it-works__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.how-it-works__item {
  margin-bottom: 20px;
}

.how-it-works__description {
  @include reset-spacing;

  font-family: $font-arial;
  color: c.$black-lightest;
}
